.eb-switch-control {
  display: flex;
  border: 1px solid #ededed;
  padding: 2px;
  border-radius: 30px;
  position: relative;
  font-family: sans-serif;
  text-align: center;
  margin-bottom: 8px;
  margin-top: 8px;
}
.eb-switch-control input {
  visibility: hidden;
  position: absolute;
  padding: 10px;
}
.eb-switch-control input:checked + label {
  color: #fff;
}
.eb-switch-control .eb-switch-first:checked ~ span,
.eb-switch-control .eb-switch-second:checked ~ span {
  color: white;
}
.eb-switch-control .eb-switch-first:checked ~ .eb-slide-bg {
  transform: translateX(100%);
}
.eb-switch-control .eb-switch-second:checked ~ .eb-slide-bg {
  transform: translateX(0);
}
.eb-switch-control label {
  display: block;
  padding: 4px;
  width: 50%;
  z-index: 1;
}
.eb-slide-bg {
  position: absolute;
  background-color: #551ef7;
  color: white;
  border-radius: 30px;
  height: 100%;
  width: 50%;
  top: 0;
  left: 0;
  transition: transform 0.3s ease;
}
